@import "tailwindcss";

:root {
  --font-sans: var(--font-ibm-plex-thai);
  --radius: 0.625rem;
  --background: oklch(1 0 0); /* White */
  --foreground: oklch(0.145 0 0); /* Dark gray */
  --primary: oklch(0.205 0 0); /* Darker gray */
  --primary-foreground: oklch(0.985 0 0); /* Near white */
}

.dark {
  --background: oklch(0.145 0 0); /* Dark gray */
  --foreground: oklch(0.985 0 0); /* Near white */
  --primary: oklch(0.922 0 0); /* Light gray */
  --primary-foreground: oklch(0.205 0 0); /* Darker gray */
}

@layer base {
  body {
  }
}
